<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alligator.mapper.Tool1Mapper">
    <select id="findAll" resultType="com.alligator.pojo.Tool1">
        SELECT * FROM tool1 ORDER BY createAt DESC;
    </select>

    <select id="getLast" resultType="com.alligator.pojo.Tool1">
        SELECT * FROM tool1 ORDER BY createAt DESC LIMIT 1;
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tool1(detail, total, main_enclosure, main_resistance, five_enclosure, five_equilibrium, five_linear, five_disorder, five_loss)
        VALUES (#{detail}, #{total}, #{mainEnclosure}, #{mainResistance}, #{fiveEnclosure}, #{fiveEquilibrium}, #{fiveLinear}, #{fiveDisorder}, #{fiveLoss})
    </insert>
</mapper>
